In [1]:
import random 
import numpy as np
import pandas as pd
import math

In [2]:
links = pd.read_csv('Links.csv')
nodes = pd.read_csv('Places.csv')

In [3]:
links

     Place id(Pont A)  Place id(Point B) Means of Transport
0             8441694            9061761                Bus
1             8441694           10381699                Car
2             8611522            8631524                Car
3             8611522           11251704               Rail
4             8631524            9791429                Car
..                ...                ...                ...
355          21121576           21271622               Bike
356          21141652           20331668                Car
357          21271622           21141652                Car
358          51889340           17191741               Ship
359          51889340           19151566               Ship

[360 rows x 3 columns]

In [4]:
nodes

         Name of place  Place ID  Northings Pos  Eastings Pos
0       Whitley Bridge   8441694         53.694        -1.156
1       Doncaster Rail   8611522         53.522        -1.139
2        Doncaster Ctr   8631524         53.524        -1.137
3          Brayton Jct   9061761         53.761        -1.094
4            York Rail   9081958         53.958        -1.092
..                 ...       ...            ...           ...
212     Hollym Village  20391706         53.706         0.039
213         Spurn Head  21121576         53.576         0.112
214  Easington Village  21141652         53.652         0.114
215    Kilnsea Village  21271622         53.622         0.127
216  Zeebrugge Harbour  51889340         51.340         3.189

[217 rows x 4 columns]

In [5]:
probable_node = random.randint(0,216)#randomly select a place
probable_node

57

In [6]:
nodes.iloc[probable_node][1]

15561685

In [7]:
links.iloc[4][0] #r,c

8631524

In [8]:
nodes.iloc[2][1]#r,c

8631524

In [9]:
nodes.iloc[1][0]#r,c

'Doncaster Rail'

In [10]:
#map_data.iloc[1][1]#r,c

In [11]:
attatched_places = []
distance_array = []
#links
#sqrt(((x1 - x)*(x1 - x)) + ((y1 - y) * (y1 - y)));
for j in range(0,360):
    isFound = False
    for i in range(0,217):
        #Point A
        if links.iloc[j][0] == nodes.iloc[i][1]:
            isFound_A = True
            res1 = nodes.iloc[i][0]
            #print(i,nodes.iloc[i][0])
            #grab xy coordinates
            pointA_X_coordinate = nodes.iloc[i][2]
            pointA_Y_coordinate = nodes.iloc[i][3]
        elif i == 360 and isFound_A == False:
            print('Link A at %j not found')
            break
    for i in range(0,217):
        #Point B
        if links.iloc[j][1] == nodes.iloc[i][1]:
            isFound_B = True
            res2 = nodes.iloc[i][0]
            #print(i,nodes.iloc[i][0])
            pointB_X_coordinate = nodes.iloc[i][2]
            pointB_Y_coordinate = nodes.iloc[i][3]
        elif i == 360 and isFound_B == False:
            print('Link B at %j not found')
            break
    distance = math.sqrt(((pointA_X_coordinate - pointB_X_coordinate)*(pointA_X_coordinate - pointB_X_coordinate)) + ((pointB_Y_coordinate - pointA_Y_coordinate) * (pointB_Y_coordinate - pointA_Y_coordinate)))
    distance_array.append(distance)
    #print(res1, 'to', res2 , 'distance =', distance)

In [ ]:
#distance_dataframe

In [ ]:
#distance_array
distance_dataframe = pd.Series(distance_array, name = 'Distance')
#append data to links data
#distance_dataframe = distance_dataframe.reset_index(drop=True)
#links = links.reset_index(drop=True)
#map_data = pd.concat([links, distance_dataframe], axis=1)
frames = [links, distance_dataframe]
map_data = pd.concat([distance_dataframe,links], axis =1)
map_data

In [16]:
def fitness(route,map_data):
    overallScore = 0
    for i in range(0,len(route)):
        for j in range(0, len(map_data)):
            if route[i] == map_data.iloc[j][1]:
                if i < len(route)-1:
                    if route[i+1]==map_data.iloc[j][2]:
                        distance = map_data.iloc[j][0]
                        #print(distance)
                        overallScore+=distance
                        break
            elif route[i] == map_data.iloc[j][2]:
                if i < len(route)-1:
                    if route[i+1]==map_data.iloc[j][1]:
                        distance = map_data.iloc[j][0]
                        #print(distance)
                        overallScore+=distance
                        break
    return overallScore

In [ ]:
#def canCrossover(a,b):

In [67]:
def crossover(a, b):
    #need 2 crossover m8
    #of the 2, which is the shortest?
    new_a = []
    new_b = []
    print('Pareant a = ', a)
    print('Pareant b = ', b)
    canCross = False
    canProduceOffspring = False
    #should not be start or end point
    temp_a = a[1:len(a)-1]
    temp_b = b[1:len(b)-1]
    print('Slice to check a = ', temp_a)
    print('Slice to check b = ', temp_b)
    for j in range(0,len(temp_a)):
        if temp_a[j] in temp_b:
            canCross = True
            gene_position_b = temp_b.index(temp_a[j])
            gene_position_a = temp_a.index(temp_b[gene_position_b])
            print("gene position at B: ", gene_position_b)
            print("gene position at A: ", gene_position_a)
            break
    if canCross == True:
        #possible cross points
        possible_cross_points = 0
        #index position of possible cross points in both a and b
        possible_positions_a = []
        possible_positions_b = []
        for j in range(0,len(temp_a)):
            if temp_a[j] in temp_b:
                possible_cross_points+=1
                possible_positions_b.append(temp_b.index(temp_a[j]))
                possible_positions_a.append(temp_a.index(temp_b[gene_position_b]))
        print('Possible cross points: ', possible_cross_points)
        print('possible crosses at b: ', possible_positions_b)
        print('Possible crosses at a: ', possible_positions_a)
        #checkValidity = True
        #while(checkValidity):
        #just swap values at that index
        #sooo....
        #pick a random index position
        
        if len(possible_positions_a) > 1:
            cut_pos = random.randint(0,len(possible_positions_a))
        else:
            cut_pos = 0
        print('cut pos', cut_pos)
        #cut_pos = 0
        cut_a = temp_a[possible_positions_a[cut_pos]:len(temp_a)] #cut
        print('cut a: ', cut_a)
        cut_b = temp_b[possible_positions_b[cut_pos]:len(temp_b)] #cut
        print('cut b: ', cut_b)
        cut_a1 = temp_a[:possible_positions_a[cut_pos]]
        print('cut a1: ', cut_a1)
        cut_b1 = temp_b[:possible_positions_b[cut_pos]]
        print('cut b1: ', cut_b1)
        #swap them
        new_a = cut_a1 + cut_b
        new_b = cut_b1 + cut_a
        new_a.insert(0,a[0])
        new_b.insert(0,a[0])
        new_a.append(a[-1])
        new_b.append(a[-1])
        print('new', new_a)
        print('new', new_b)
        #before making effort to crossover
        if len(a) > len(b):
            crossoverThreshold = len(b)
        else:
            crossoverThreshold = len(a)
        #from the shortest, obtain half that, then use it to crossover
        crossoverThreshold = int(0.5*crossoverThreshold)
        print("Max genes to be crossed: ",crossoverThreshold )
        #go to nth index in the longer array and cut
        #for i in range(crossoverThreshold,)
        #need to satisfy 2 conditions to cross, one, is there a similar 'code' and 2, does the created offspring end at desired pos?
    return new_a,new_b,canCross

In [13]:
def mutate(route, probability,places,links):
    if random.random() < probability:
        start = route[0]
        end = route[-1]
        route = create_random_new_route(places, links, start, end)
    return route

In [12]:
def isANeighbour(node_id1,node_id2,links):
    isTrue = False
    #links
    for i in range(0,360):
        if links.iloc[i][0] == node_id1:
            if links.iloc[i][1] == node_id2:
                isTrue = True
                break
        if links.iloc[i][1] == node_id1:
            if links.iloc[i][0] == node_id2:
                isTrue = True
                break
        if links.iloc[i][0] == node_id2:
            if links.iloc[i][1] == node_id1:
                isTrue = True
                break
        if links.iloc[i][1] == node_id2:
            if links.iloc[i][0] == node_id1:
                isTrue = True
                break
    return isTrue

In [17]:
isANeighbour(9791429,10111496,links)

True

In [18]:
def create_random_new_route(places_data, links, start, end):
    #desired start, desired end, net data
    #route has to be valid
    #do not create a route that exceeds size of map(it is possible but this state can run infinitely so...no)
    #soo..i need the IDs First
    route = []
    route.append(start)
    counter = 0
    traverse = True
    while(traverse):
        probable_node = random.randint(0,216)#randomly select a place
        #print('test',probable_node)
        probable_node = places_data.iloc[probable_node][1]  #grab respective node id
        #check if valid route. if yes...append and randomly search for 'end' if not valid, keep searching
        #print('route value', route[-1])
        if isANeighbour(probable_node,route[-1],links) == True:
            #print('accepted',probable_node)
            route.append(probable_node)
        
        if route[-1]==end:
            traverse = False
        counter += 1
    return route

In [21]:
def create_new_generation(size, places_data, links, start, end):
    population = []
    for i in range(0,size):
        population.append(create_random_new_route(places_data, links, start, end))
        print(population[-1])
    return population

In [22]:
#x = create_random_new_route(nodes,links,8631524,8611522 )

In [23]:
new_gen = create_new_generation(4,nodes,links,9791429,10111496)
#new_gen

[9791429, 12271393, 13461591, 12271393, 14521393, 16621388, 14611235, 16621388, 14611235, 16621388, 14611235, 12271393, 9791429, 10111496]
[9791429, 10111496]
[9791429, 10111496]
[9791429, 8631524, 8611522, 8631524, 9791429, 8631524, 9791429, 8631524, 9791429, 10111496]

[[9791429,
  12271393,
  13461591,
  12271393,
  14521393,
  16621388,
  14611235,
  16621388,
  14611235,
  16621388,
  14611235,
  12271393,
  9791429,
  10111496],
 [9791429, 10111496],
 [9791429, 10111496],
 [9791429,
  8631524,
  8611522,
  8631524,
  9791429,
  8631524,
  9791429,
  8631524,
  9791429,
  10111496]]

In [ ]:
new_gen[2]

In [68]:
crossover(new_gen[0],new_gen[3])

Pareant a =  [9791429, 12271393, 13461591, 12271393, 14521393, 16621388, 14611235, 16621388, 14611235, 16621388, 14611235, 12271393, 9791429, 10111496]
Pareant b =  [9791429, 8631524, 8611522, 8631524, 9791429, 8631524, 9791429, 8631524, 9791429, 10111496]
Slice to check a =  [12271393, 13461591, 12271393, 14521393, 16621388, 14611235, 16621388, 14611235, 16621388, 14611235, 12271393, 9791429]
Slice to check b =  [8631524, 8611522, 8631524, 9791429, 8631524, 9791429, 8631524, 9791429]
gene position at B:  3
gene position at A:  11
Possible cross points:  1
possible crosses at b:  [3]
Possible crosses at a:  [11]
cut pos 0
cut a:  [9791429]
cut b:  [9791429, 8631524, 9791429, 8631524, 9791429]
cut a1:  [12271393, 13461591, 12271393, 14521393, 16621388, 14611235, 16621388, 14611235, 16621388, 14611235, 12271393]
cut b1:  [8631524, 8611522, 8631524]
new [9791429, 12271393, 13461591, 12271393, 14521393, 16621388, 14611235, 16621388, 14611235, 16621388, 14611235, 12271393, 9791429, 8631524, 9791429, 8631524, 9791429, 10111496]
new [9791429, 8631524, 8611522, 8631524, 9791429, 10111496]
Max genes to be crossed:  5

([9791429,
  12271393,
  13461591,
  12271393,
  14521393,
  16621388,
  14611235,
  16621388,
  14611235,
  16621388,
  14611235,
  12271393,
  9791429,
  8631524,
  9791429,
  8631524,
  9791429,
  10111496],
 [9791429, 8631524, 8611522, 8631524, 9791429, 10111496],
 True)

In [ ]:
def main(number_of_generations):
    return True

In [ ]:
initialise(0.4,4)

In [ ]:
#I need to "write" down the map....
route = np.zeros(1,dtype=int)
route

In [ ]:
distance_array[-1]

In [ ]:
distance_array

In [ ]:
map_data

In [ ]:
map_data.iloc[1][2]

In [ ]:
x[0]

In [ ]:
fitness(x,map_data)

In [ ]:
len(x)

In [ ]:
i